.itinerario-card {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 30px;
  padding: 25px;
  margin: 30px auto;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.itinerario-card h2 {
  color: var(--blanco);
  margin-bottom: 15px;
}

.itinerario-card p {
  font-size: 1.2rem;
  margin: 10px 0;
}

.itinerario-card iframe {
  width: 100%;
  height: 350px;
  border-radius: 20px;
  margin-top: 20px;
  border: 3px solid rgba(255, 255, 255, 0.3);
}

@media (max-width: 768px) {
  .itinerario-card iframe {
    height: 250px;
  }
}
